@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html> 
<html>
    <head>
        <link href="~/CSS/site.css" rel="StyleSheet">
    </head>
    <body class="viewBkgd">
        <div class="text-center">
            <h1 class="titleColor">Welcome to the SiJorSu Movie Tracker!</h1>

        </div>
        <br />
        <br />
        <img src="https://i.imgur.com/cXVuomq.jpg" align="left" style="padding-right:20px" height="300" width="200" />
        <img src="https://i.imgur.com/DrcC7gW.jpg" align="right" style="padding-left:20px" height="300" width="200" />
        <p class="titleContent">
            GoodReads is an indispensable tool for librarians, as a way to keep track of what books we read, when, subjects, what we thought, etc (both personally and professionally).
            There’s no equivalent for movies.
            <br />
            <br />
            So, we thought we should make a goodreads for movies!
            <br />
            <br />
            You can search and display movie info without logging in, but the rest of the features (list of movies, recommendation algorithms, etc) are only available if you login.
            <br />
            <br />
            Our recommendations are based on movies our users have added to their lists, dynamically changing as users add/rate more movies.
        </p>
    </body>
</html>

