@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the SiJorSu Movie Tracker!</h1>
    
</div>
<br />
<br />

<p>
    GoodReads is an indispensable tool for librarians, as a way to keep track of what books we read when, subjects, what we thought, etc (both personally and professionally).
    There’s no equivalent for movies.
    <br />
    <br />
    So, we thought we should make a goodreads for movies!
    <br />
    <br />
    You can search and display movie info without logging in, but the rest of the features (list of movies, recommendation algorithms, etc) are only available if you login.
    <br />
    <br />
    Our recommendations are based on movies our users have added to their lists, dynamically changing as users add/rate more movies.
</p>
