@{
    ViewData["Title"] = "Movie Search";
}
<h3>Search By Title!</h3>
<br />
<form action="../Home/SearchResult" method="post">
    <input type="text" required pattern ="[a-zA-Z0-9 -]+" name="userInput" />
    <br />
    <p>No special characters please!</p>
    <input type="submit" value="Submit" class="btn btn-success" />
</form>

