@{
    ViewData["Title"] = "Movie Search";
}
<h3>Search By Title!</h3>
<br />
<form action="../Home/SearchResult" method="post">
    <input type="text" name="userInput" />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>

