@{
    ViewData["Title"] = "Movie Search Result";
}
@model List<MovieSearch>

    @if (Model.Count == 0)
    {
        <h4 class="titleColor">Uh oh, no movies matched that search!</h4>
    }
    else
    {
        <h4 class="titleColor">@Model.Count results found...</h4>
        <table class="table table-bordered  table-striped tableBorderWidth">

            <tr class="d-table-row">
                <th>Title</th>
                <th>Poster</th>
                <th></th>
            </tr>

            @foreach (MovieSearch m in Model)
            {
                <tr>
                    <td class="aRef"><b>@m.title</b></td>
                    <td><img src="@m.image" width="200" height="300" /></td>
                    <td><a href="../Home/MovieSelection?id=@m.id" class="btn btn-primary btn-sm btn btn-outline-success">See Details</a></td>
                </tr>
            }

        </table>
    }
