
@model List<DictionaryVM>
<html>
    <body class="viewBkgd">
        @if (Model.Count == 0)
        {
            <h4 class="titleColor">Looks like we don't have any results for these directors</h4>
        }
        else
        {
            <h4 class="titleColor">Director and average user scores for the movies they've directed</h4>
            <table class="table table-bordered table-striped tableBorderWidth">

                @foreach (DictionaryVM vm in Model)
                {
                    if (vm.Actor == "N/A")
                    {
                        <tr>
                            <th>
                                Oops looks like there isn't a director for this!
                            </th>
                        </tr>
                        break;
                    }
                    else
                    {
                        <tr>
                            <th>@vm.Actor</th>
                            <th></th>
                        </tr>
                        if (vm.MoviesWithScore.Count == 0)
                        {
                            <tr>

                                <td>Looks like we don't have any movies with this director in our database! </td>
                                <td></td>
                            </tr>
                        }
                        foreach (UserMovie m in vm.MoviesWithScore.Keys)
                        {
                            <tr>
                                <td><a href="../Home/MovieSelection?id=@m.MovieId" class="aRef"><b>@m.Title</b></a></td>
                                @if (vm.MoviesWithScore[m] > 0)
                                {
                                    <td>Average Score: @vm.MoviesWithScore[m]</td>
                                }
                                else
                                {
                                    <td>Nobody has given this movie a score yet!</td>
                                }
                            </tr>
                        }

                    }
                }

            </table>
        }
    </body>
</html>