
@model List<DictionaryVM>


@foreach (DictionaryVM vm in Model)
{
    <h4>@vm.Actor</h4>
    if (vm.MoviesWithScore.Count == 0)
    {
        <p>Looks like we don't have any movies with this director in our database! </p>
    }
    foreach (UserMovie m in vm.MoviesWithScore.Keys)
    {


        <a href="../Home/MovieSelection?id=@m.MovieId">@m.Title</a>
        <p>Average User Score= @vm.MoviesWithScore[m]</p>
    }
}
