<html>
<body>
    <h4 class="font-italic titleColor"><b>For you. By you. SiJorSu</b></h4>
    <table class="table table-bordered table-striped tableBorderWidth">
        <tr>
            <th>List</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="../Recommendation/FamilyMovies" class="aRef"><b>Family</b></a></td>
            <td>Everybody hurry to the living room a take seat around the tube, these flicks can be enjoyed by the whole family!</td>
        </tr>
        <tr>
            <td><a href="../Recommendation/FunnyMovies" class="aRef"><b>Funny</b></a></td>
            <td>Make sure you do some sit-ups before wathcing these movies; they'll have you guffawing so hard you bust a gut</td>
        </tr>
        <tr>
            <td><a href="../Recommendation/SadMovies" class="aRef"><b>Sad</b></a></td>
            <td>Bring some tissues, these films are guranteed to "get dust in your eyes"</td>
        </tr>
    </table>
</body>
</html>